#textdomain armies_of_amberan
[multiplayer_side]
	id=farengar_def
	name=_"Royaumes farengariens"
	image="faction/Farengar2.png"
	type=random
	leader=far_seigneur,far_mage,far_arcaniste,far_paladin,far_chevalierAPieds,far_archerLong,far_arbaletrier,far_clerc,far_fantassin,far_hallebardier
	recruit=far_conscrit,far_archer,far_chevalierErrant,far_ecuyer,far_initie,far_noble,far_apprenti,far_paysan
	[ai]
		recruitment_pattern=fighter,fighter,fighter,fighter,archer,archer,mixed fighter,healer
	[/ai]
[/multiplayer_side]