#textdomain armies_of_amberan
[unit_type]
	id=fna_chevalierOurs
	name= _ "Chevalier ours"
	race=farNain
	gender=male
	image="units/Far_nains/Chevalier ours.png"
	hitpoints=50
	movement_type=dwarvishfoot
	movement=6
	experience=70
	level=2
	alignment=neutral
	cost=40
	usage=fighter
	description= _ "description a venir"
	advances_to=fna_GrandchevalierOurs
die_sound={SOUND_LIST:DWARF_DIE}
{DEFENSE_ANIM "units/Far_nains/Chevalier ours.png" "units/Far_nains/Chevalier ours.png" {SOUND_LIST:DWARF_HIT} }
	[resistance]
        blade=70
        impact=60
        cold=80
    [/resistance]
	[attack]
        name=marteau
        description=_"marteau"
        type=impact
        range=melee
        damage=29
        number=1
		icon=attacks/hammer-dwarven.png
    [/attack]
	[attack]
        name=griffes
        description=_"griffes"
        type=impact
        range=melee
        damage=9
        number=3
		icon=attacks/claws-animal.png
    [/attack]
	{MACE_SOUND}
	{CLAWS_SOUND}
[/unit_type]