#textdomain armies_of_amberan
[unit_type]
	id=nor_archerMonte
	name= _ "Archer monté"
	race=nordian
	gender=male,female
	image="units/nord/Archer monte.png"
	hitpoints=46
	movement_type=mounted
	movement=10
	experience=75
	level=2
	alignment=neutral
	cost=31
	usage=scout
	description= _ "description a venir"
	advances_to=nor_maitreArcherMonte
	die_sound={SOUND_LIST:HUMAN_DIE}
	[movement_costs]
		frozen=1
	[/movement_costs]
	[defense]
		frozen=60
	[/defense]
	[resistance]
		cold=90
    [/resistance]
	[attack]
		name=hache
		description= _"hache nordique"
		type=blade
		range=melee
		damage=9
		number=3
		icon=attacks/axe.png
	[/attack]
	[attack]
		name=arc
        description=_"arc"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=9
        number=3
	[/attack]
	{AXE_SOUND}
	{BOW_SOUND}
	[female]
		name= _"female^Archère montée"
		gender=female
		image="units/nord/Archer monte2.png"
		die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
	[/female]
[/unit_type]
